# mysqlworkbench
*.bak

# Um monte de .pdf, não é uma boa fazer o upload
aulas/

# Só tem a tasks.json pra compilar c aqui, coisa que não
# é nada portatil, cada pc deveria ter sua propria configuração.
.vscode/

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz
*.lof
*.log
*.lot
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# Python
__pycache__/
*.py[cod]
*$py.class

# C
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
